.header_logo {
    height: 1.3125rem;
    width: 8.9375rem;
    flex: 0;
}

.header_menu{
    > span {
        display: block;
    }

}

/*.hamburger {
    width: 1.75rem;
    height: 0.6875rem;
    flex:1;
} replaced by .header_menu*/

/*.header_space{
    display: flex; 
    justify-content: space-between;
} moved it to general-styles flex class*/

.hamburger_menu_bg{
    background-image: linear-gradient (var(--dark-blue), var(--very-light-gray)) ;
}

.hamburger_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    padding-top: 1.5rem;
    padding-bottom: 0.5625rem;
        a {
    color: var(--dark-blue);
    text-decoration: none;
    margin:0;
    padding-bottom:1.5rem;
    }

}
